<!DOCTYPE html>
<html>
<head>
     <!-- <link rel="stylesheet" href="index.css">  -->
    <title>Train</title>

    
</head>
<body >
    <br><br><br>
    <h1 align='middle'> TITLE </h1>
    <h2> Instructions </h2>

    1) wakdnakdnwad <br>
    2) aenf <br>
    3) ealnk <br>
    <br>
    <form action="/info" method="post">
        Full name: <br>
        <input type=text name=name required><br><br>
        Age: <br>
        <input type=text name=age required><br><br>
        Gender: <br>
        <input type=radio name=gender value=M> Male <br>
        <input type=radio name=gender value=F checked> Female <br><br>
        <input type=submit value="Submit and Proceed">
    </form>

</body>
</html>
