<!DOCTYPE html>
<html>
<head>
     <!-- <link rel="stylesheet" href="index.css">  -->
    <title>Train</title>

    
</head>
<body >
    <br><br><br>
    <h1 align='middle'> TITLE </h1>
    <h2> Instructions </h2>

    1) Hi, you have to listen two audio presented to you in the following pages <br>
    2) You have to listen to those audios and outoff of both select the one you think is better or clean while listening <br>
    3) Take less than a minute <br>
    <br>
    <form action="/info" method="post">
        Full name: <br>
        <input type=text name=name required><br><br>
        Age: <br>
        <input type=text name=age required><br><br>
        Gender: <br>
        <input type=radio name=gender value=M> Male <br>
        <input type=radio name=gender value=F checked> Female <br><br>
        <input type=submit value="Submit and Proceed">
    </form>

</body>
</html>
